// h1 {
//   text-align: center;
//   font-size: 2.5rem;
//   font-weight: 600;
//   color: #490015; 
//   margin-bottom: 2rem;
//   text-transform: uppercase;
//   letter-spacing: 1px;
//   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
// }

// .messages-container {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   position: relative;
//   margin: 2rem auto;
//   width: 100%;
//   max-width: 1200px;

// //   .arrow {
// //     font-size: 2rem;
// //     background: none;
// //     border: none;
// //     cursor: pointer;
// //     color: #600026;
// //     z-index: 2;}

// //     &.left {
// //       margin-right: 1rem;
// //     }

// //     &.right {
// //       margin-left: 1rem;
// //     }
// // }
// }
// .example-card {
//   max-width: 40px;
//     padding: 2rem;
//     border-radius: 20px;
//     box-shadow: 0 20px 10px #a20935;
//     max-width: 300px;
//     width: 100%;
//     transition: transform 0.3s;
//     border: 1px solid #eee;
//     &:hover {
//       transform: translateY(-4px);
//     }   
  
// }

// .example-card-footer {
//   padding: 16px;
// }



h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: #490015;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.messages-container {
  position: relative;
  max-width: 1200px;

  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;


  .carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    scroll-behavior: smooth;
  }

  .card-wrapper {
    display: flex;
     flex-wrap: wrap;
    gap: 2rem; // << AICI adaugă spațiu între carduri
    justify-content: center;
  
  }
}

.example-card {
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 2px 10px #a20935;
  max-width: 300px;
  min-width: 300px;
  flex-shrink: 0;
  width: 100%;
  
  transition: transform 0.3s;
  border: 1px solid #eee;

  &:hover {
    transform: translateY(-4px);
  }
}

.example-card-footer {
  padding: 16px;
}
