<div class="page-content">
  <div class="messages-header">
    <h1>Messages</h1>
  </div>

  <mat-tab-group dynamicHeight>
    <mat-tab label="WAITING">
      <div class="inProcess">
        @for (messages of dataService.getMessageSubject | async; track $index){

        @if (messages.messageStatus==='WAITING') {
        <app-card-message [messages]="messages"></app-card-message>

        }
        }@empty {
        <div>No items to display</div>
        }
      </div>
    </mat-tab>
    <mat-tab label="ANSWERED">
      <div class="deported">
        @for (messages of dataService.getMessageSubject | async; track $index){
        @if (messages.messageStatus==='ANSWERED') {
        <app-card-message [messages]="messages"></app-card-message>
        }
        }@empty {
        <div>No items to display</div>
        }
      </div>
    </mat-tab>
  </mat-tab-group>
</div>