.hero {
  width: 92.5vw;
  height: 250px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: calc(-50vw + 50%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px 3px #333;
  overflow: hidden;

  mat-icon {
    font-size: 30px;
    color: white;
  }

  .hero-content {
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 2rem;
    border-radius: 12px;

    h1 {
      font-size: 3rem;
      margin-bottom: 1rem;

      span {
        color: #fffbe0;
      }

      strong {
        color: #ff6f61;
      }
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
    }

  }
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}



mat-stepper {
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1rem;
  }

  mat-form-field {
    width: 100%;

    input {
      font-size: 1rem;
      padding: 0rem 1rem;
      height: auto; // elimină înălțimea mare implicită
    }

    .mat-form-field-wrapper {
      padding-bottom: 0.1rem; // mai puțin spațiu jos
    }

    .mat-form-field-flex {
      padding-top: 0.1rem; // mai puțin spațiu sus
    }
  }

  button {
    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: 1.5rem;
  }
}

.payment-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 600px;
  margin: auto;
}

// .finalStep {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 1300px;
// }



mat-form-field {
  width: 100%;
}

.card-details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;

  .card-row {
    display: flex;
    gap: 1.5rem;
  }
}



.thank-you-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  padding: 30px;
  border-radius: 16px;
  background: auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-left: 60px;
  max-width: 1000px;
  width: 100%;
  height: auto;

  .thank-you-text {
    flex: 1;
    color: rgb(49, 47, 47);

    h2 {
      margin-top: 0;
      font-size: 24px;
      color: rgb(31, 29, 29);
    }

    p {
      font-size: 14px;
      color: #312e2e;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 6px 0;
        font-size: 14px;
        color: #3f3d3d;

        strong {
          color: #4d3f3f;
        }
      }
    }


  }

  .buttonsReset {
    border-left: 2px;
    height: 13px;
    width: 10px;
    color: black;
    border-right: 3px;
    border-radius: 30px;
  }

  .buttonsPurchase {
    border-left: 2px;
    height: 13px;
    width: 10px;
    color: rgb(151, 55, 55);
   
    border-radius: 30px;
  }

  .thank-you-right {
    flex: 1;
    background: auto;
    padding: 20px;
    border-radius: 12px;
    word-wrap: break-word;
    min-width: 350px;
  


    h4 {
      margin-top: 0;
      font-size: 18px;
    }

    .order-info {
      font-size: 14px;
      margin-bottom: 15px;
      display: flex;
      justify-content: space-between;
    }

    .product-list {

      gap: 2px;
      margin-bottom: 15px;
    }

    .total {
      font-weight: bold;
      font-size: 16px;
      border-top: 1px solid #161414;
      padding-top: 10px;
    }
  }
}