h2 {
  margin-bottom: 1rem;
}



.recommendations {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;


}
.popup-header {
  position: sticky;
  top: 0;
  background: #8b2e3cb2;
  z-index: 10;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid auto;
}

.popup-footer {
  position: sticky;
  bottom: 0px;
  background: auto;
  padding: 1rem 1rem;
  border-top: 1px solid auto;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

button{
    margin-top: 20px;
    padding: 6px 13px;
    font-size: 1rem;
    background-color: #8B2E3C;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgba(238, 217, 217, 0.889);
    }
}
.cart-popup {
  // Asigură-te că acest element are overflow
  max-height: 550vh;
  overflow-y: auto;

  /* Scrollbar Slim + Transparent */
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.4);;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 1px;
    border: 1px solid transparent;
  }

  // Firefox
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.4) transparent;
}
