<div class="cart-popup">
    <div class="popup-header">
        <h2 class="popup-title">{{data.resp}}</h2>
    </div>

    <div class="product-info">
        <app-cart-item *ngFor="let prod of dataService.getCartProducts$ | async" [cartProduct]="prod"></app-cart-item>
    </div>


    <div class="popup-footer">

        <button mat-button (click)="close()">Continuă cumpărăturile</button>
        <button mat-button color="primary" (click)="goToCart()">Mergi la coșul de cumpărături</button>
    </div>
</div>