<div class="hero">

  <div class="hero-content">
    <h1>NatureLand <span>Shopping</span></h1>
    <p>Your happy place</p>
  </div>

</div>

<div class="categories">
  <div class="search">

    <input type="text" placeholder="Search product" class="search-bar" [(ngModel)]="searchValue"
      (ngModelChange)="filterValues($event)">


  </div>

  <div class="containder">
    <div class="product-grid">

      @for (prod of filtredProducts$ | async; track $index){
        @if(prod.stoc==="IN_STOC"){
        <app-product-card [product]="prod"></app-product-card>
        }

      }@empty {
      <div>No items to display</div>
      }
      @for (prod of filtredProducts$ | async; track $index){
        @if(prod.stoc==="OUT_OF_STOC"){
        <app-product-card [product]="prod"></app-product-card>
        }

      }
    </div>
  </div>

</div>