<div class="product-details-container">
  <div class="image-section">
     <div class="stock-status" [ngClass]="product.stoc === 'IN_STOC' ? 'in-stock' : 'out-stock'">
      {{ product.stoc.replaceAll("_", " ") }}
    </div>
    <img src="{{product.productImg}}" alt="Product Image" />
  </div>
 
  <div class="info-section">
    <h2 class="product-title">{{product.productName}}</h2>
    <p class="product-description">
     {{product.productDescription}}
    </p>
    <div class="price">{{product.productPrice}} RON</div>

    <div class="actions">
      <button (click)="backButton()" class="back-btn" >Back to store</button>
      <button *ngIf="product.stoc === 'IN_STOC'" class="add-to-cart-btn" (click)="addButtonOnAcction()">Add to Cart</button>
    </div>
  </div>
</div>

