<div class="contact-container">
  <div class="contact-info">
    <h2>Contact NatureLand</h2>
    <p>We’d love to hear from you! Use the form or get in touch by phone or email.</p>

    <div class="info-item">
      <mat-icon color="primary">call</mat-icon>
      <span>+40 721 234 567</span>
    </div>
    <div class="info-item">
      <mat-icon color="primary">email</mat-icon>
      <span>"NatureLend"</span>
    </div>
    <div class="info-item">
      <mat-icon color="primary">location_on</mat-icon>
      <span>Strada Florilor 22, București, România</span>
    </div>
  </div>

 <form class="contact-form" [formGroup]="contactForm" >
  <div class="name-row">
    <input type="text" formControlName="firstName" placeholder="First Name" />
    <input type="text" formControlName="lastName" placeholder="Last Name" />
  </div>
  <input type="email" formControlName="email" placeholder="Email" />
  <input type="tel" formControlName="phone" placeholder="Phone (optional)" />
  <textarea formControlName="message" placeholder="Your message..."></textarea>
  <button type="submit" (click)="sendButton()">Send Message</button>
</form>
</div>

