.sidenav-container {
  height: 100%;
  
}

.sidenav {
  width: 200px;
  word-spacing: 10px;
  border-radius: 0px;
  border-right:2px solid ;
}

.sidenav .mat-toolbar {
  background: inherit;
  background-color: #8B2E3C;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  border-radius: 0px;
  background-color: #8B2E3C ;
 
 
}

.cartButton{
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-45%);

  mat-icon {
    font-size: 30px;
    color: white;
  }

}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

body::-webkit-scrollbar {
  display: none;
}


.user-bar {
  display: flex;
  align-items: center;
  background-color: #8B2E3C;
  padding: 0.5rem 1rem;
  color: white;
  gap: 1rem;

  .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 70%;    
    object-fit: cover;
    border: 2px solid white;
  }

  .email {
    font-size: 1rem;
    font-weight: 500;
  }

  .logout-icon {
    margin-left: auto;
    cursor: pointer;
    color: whitesmoke;
    transition: transform 0.2s;
    
    &:hover {
      transform: scale(1.1);
    }
  }
}
