.hero {
  width: 92.5vw;
  height: 400px;
  background-image: url('./background.jpg') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: calc(-50vw + 50%); // elimină marginile implicite
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white ;
  text-shadow: 1px 1px 3px #333;
  overflow: hidden;
  
    mat-icon {
        font-size: 30px;
        color: white;
     }
  .hero-content {
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 2rem;
    border-radius: 12px;

    h1 {
      font-size: 3rem;
      margin-bottom: 1rem;

      span {
        color: #fffbe0;
      }

      strong {
        color: #ff6f61;
      }
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
    }

  }
}

.cart-container {
  background: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-radius: 8px;
  width: 100%;
  
  box-shadow: 0 5px 25px rgba(147, 37, 37, 0.15);
  margin: 0 auto;

  h2 {
    margin-bottom: 20px;
    font-size: 3rem;
    color: #333;
  }

  .cart-table {
    width: 90%;
    border-collapse: collapse;
    margin-bottom: 30px;

    th {
      text-align: left;
      font-weight: bold;
      padding: 4px;
      background-color: #fff5f5;
      border-bottom: 2px solid #fffafa;
    }

    td {
      padding: 15px;
      border-bottom: 1px solid #ececec;
      vertical-align: middle;
    }
  }

  .cart-total {
    margin-top: 20px;

    .cart-total-title {
      font-size: 2rem;
      font-weight: bold;
      color: #444;
    }

    .cart-total-price {
      font-size: 1.5rem;
      color: #000;
    }
  }

  .purchase-btn {
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 1rem;
    background-color: #9e002d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgb(108, 25, 18);
    }
  }
}