<div class="login-page">
    <div class="container">
      <h1 style="color:  #e26868ba;">Register</h1>
      <form [formGroup]="registerForm" class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>First Name</mat-label>
            <input type="name" matInput  formControlName="first_name" placeholder="Ex. Ion">

            
            <mat-icon matPrefix>person</mat-icon>

            
            @if (registerForm.get('first_name')?.invalid && !registerForm.get('first_name')?.touched) {
              <mat-error>Please enter a name</mat-error>
            }
            @if (registerForm.get('first_name')?.invalid) {
              <mat-error>Your first name is <strong>required</strong></mat-error>
            }
        
          
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Last name</mat-label>
            <input type="name" matInput formControlName="last_name" placeholder="Ex. Pop">

            <mat-icon matPrefix>person</mat-icon>

            @if (registerForm.get('last_name')?.invalid && !registerForm.get('last_name')?.touched) {
              <mat-error>Please enter a name</mat-error>
            }
            @if (registerForm.get('last_name')?.invalid) {
              <mat-error>Your last name is <strong>required</strong></mat-error>
            }
        
          
          </mat-form-field>


        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">

          <mat-icon matPrefix>email</mat-icon>

          @if (registerForm.get('email')?.invalid && !registerForm.get('email')?.touched) {
            <mat-error>Please enter a valid email</mat-error>
          }
          @if (registerForm.get('email')?.invalid) {
            <mat-error>Your email is <strong>required</strong></mat-error>
          }
      
      
        
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password" placeholder="******">

          <mat-icon matPrefix>lock</mat-icon>

          @if (registerForm.get('password')?.invalid && !registerForm.get('password')?.touched) {
            <mat-error>Please enter a valid password</mat-error>
          }
          @if (registerForm.get('password')?.invalid) {
            <mat-error>Your password is <strong>required</strong></mat-error>
          }

        </mat-form-field>
      </form>

      <button class="auth-buttons" (click)=" registerButton()" [disabled]="registerForm.invalid">Register</button>  
      
    </div>
  </div>