
img{
    width: 220px;
    height:180px;
    border-radius: 10%;
}
.example-card {
   width: 360px;
   height: 340px;
   display: flex;
   align-items: center;
   border-radius: 10%;
    &:hover {
  transform: scale(1.02);
  }

}
.title {
    font-weight: bold;
    margin-top: 0.3rem;
    font-size: 1.1rem;
  }
  
  
  
  