<mat-card class="example-card" appearance="outlined">

  <mat-card-header>
    <div class="stock-status" [ngClass]="product.stoc === 'IN_STOC' ? 'in-stock' : 'out-stock'">
      {{ product.stoc.replaceAll("_", " ") }}
    </div>

      <div class="card-menu"  *ngIf="(database.role$ | async) === 'ADMIN' " >
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button *ngIf="product.stoc === 'OUT_OF_STOC' " mat-menu-item (click)="onStoc()">Up date to ON STOC</button>
      <button *ngIf="product.stoc === 'IN_STOC' " mat-menu-item (click)="outOfStoc()">Up date to OUT of STOC</button>
      <button mat-menu-item (click)="onDelete()">Delete</button>
    </mat-menu>
  </div>

    <mat-card-title class="title">{{product.productName}}</mat-card-title>
    <mat-card-subtitle>{{product.productBrand}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{product.productImg}}" alt="Photo of a Shiba Inu" class="img" width="150" height="150">
  <mat-card-content>
    <p><strong>Price:</strong> {{ product.productPrice.toFixed(2) }} RON</p>
  </mat-card-content>
  <mat-card-actions>
    <button  *ngIf="product.stoc === 'IN_STOC' " mat-button (click)="addButtonOnAcction()">ADD TO CART</button>
    <button  (click)="seeMoreButton()" mat-button>See more</button>
  </mat-card-actions>
</mat-card>