<mat-card class="purchase-card">
    <div class="row">
        <div class="id">#{{ order.id }}</div>
        <div class="status">{{ order.status.replace("_"," ") }}</div>
    </div>

    <div class="row">
        <div class="label">First name and Last name: </div>
        <div class="value">{{ order.first_name+" "+order.last_name }}</div>
    </div>

    <div class="row">
        <div class="label">Products: </div>
        <div class="value">{{ order.cart_elements }}</div>
    </div>

    <div class="row">
        <div class="label">Address: </div>
        <div class="value">{{ order.address }}</div>
    </div>

    <div class="row">
        <div class="label">Phone: </div>
        <div class="value">{{ order.phone_number }}</div>
    </div>

    <div class="row">
        <div class="label">Pyment method: </div>
        <div class="value">{{ order.payment_method }}</div>
    </div>

    <button (click)=" deportedButton()" *ngIf="order.status === 'IN_PROCESS'" >DEPORTED</button>

</mat-card>