
.hero {
  width: 92.5vw;
  height: 400px;
  background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)) ,url('./background.jpg') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: calc(-50vw + 50%); // elimină marginile implicite
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px 3px #333;
  overflow: auto;
  
    mat-icon {
        font-size: 30px;
        color: white;
     }
  .hero-content {
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 2rem;
    border-radius: 12px;

    h1 {
      font-size: 3rem;
      margin-bottom: 1rem;

      span {
        color: #fffbe0;
      }

      strong {
        color: #ff6f61;
      }
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
    }

  }
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 24px;
  background-color: auto;
  max-width: 800px;

  .profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
  }

  .profile-info {
    h1 {
      font-size: 2rem;
      font-weight: 500;
      margin: 0;
    }

    .subtitle {
      font-size: 0.95rem;
      color: #666;
      margin-top: 4px;
    }

   
  }
}


.account-container {
  
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

.order-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}
.account-form {
  width: 1000px;
  margin: 0 auto; /* CENTRARE orizontală */
  padding: 4rem 6rem;
  display: flex;
  padding-top: 10rem; 
  flex-direction: column;
  gap: 6rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
}

mat-form-field {
  width: 80%;  
}



mat-icon{
  padding-right: 10px;
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-top: 1rem;
}

label{
   display: flex;
  justify-content: center;
  color: gray;
}

button{
  background-color: #8B2E3C; // roz intens ca în imagine
 
  border-radius: 25px;
  padding: 0.5rem 2rem;
}

