
.hero {
  width: 92.5vw;
  height: 400px;
  background-image: url('./background.jpg') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: calc(-50vw + 50%); // elimină marginile implicite
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px 3px #333;
  overflow: hidden;
  
    mat-icon {
        font-size: 30px;
        color: white;
     }
  .hero-content {
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 2rem;
    border-radius: 12px;

    h1 {
      font-size: 3rem;
      margin-bottom: 1rem;

      span {
        color: #fffbe0;
      }

      strong {
        color: #ff6f61;
      }
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
    }

  }
}

.user-profile {
  display: flex;
  align-items: right;
  gap: 24px;
  padding: 24px;
  background-color: auto;
  max-width: 800px;

  .profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
  }

  .profile-info {
    h1 {
      font-size: 2rem;
      font-weight: 500;
      margin: 0;
    }

    .subtitle {
      font-size: 0.95rem;
      color: #666;
      margin-top: 4px;
    }

   
  }
}


.account-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  background:auto;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  color: #333;

  h2 {
    margin-bottom: 20px;
  }

 
  .account-form {
    display: flex;
    flex-direction: column;

    h3 {
      margin-top: 30px;
      margin-bottom: 10px;
      font-size: 1.2rem;
      color: #222;
    }

    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;

      label {
        margin-bottom: 5px;
      }

      input, select {
        padding: 8px 10px;
        border: 1px solid #ccc;
        border-radius: 4px;

      }
    }

    .note {
      font-size: 0.9rem;
      color: #555;
      margin: 20px 0;
    }

    .save-btn {
      width: 150px;
      padding: 10px;
      background: #9e002d;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      align-self: flex-start;

      &:hover {
        background: #5d001a;
      }
    }
  }
}
