<div class="hero">

  <div class="hero-content">
    <h1>
      NatureLand <span>Your Account</span>
    </h1>
    <p>Your happy place</p>
  </div>

</div>


<div class="user-profile">
  <img class="profile-img" src="assets/images/account.jpg" alt="User photo" />

  <div class="profile-info">

    <h1>Hello, {{email}}</h1>
    <p class="subtitle">Here's where you manage your account</p>

  </div>
</div>

<!-- <div class="account-container">
  <h2>Your Purchase</h2>


  @for (order of dataService.getOrderByIdSubject | async; track $index){
  <app-table-order [order]="order"></app-table-order>
  }@empty {
  <div>No items to display</div>
  }


</div> -->

<div class="account-container">



  <mat-tab-group>


    <mat-tab label="Your Purchase">
      @for (order of dataService.getOrderByIdSubject | async; track $index){
      <app-table-order [order]="order"></app-table-order>
      }@empty {
      <div>No items to display</div>
      }
    </mat-tab>


    <mat-tab label="Account settings">
      <br>
      <form>
        <mat-form-field appearance="outline">
          <mat-label>First name</mat-label>
          <input matInput [(ngModel)]="user.firstName" name="firstName" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Last name</mat-label>
          <input matInput [(ngModel)]="user.lastName" name="lastName" required>
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput [(ngModel)]="user.password" name="password" type="password" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput [(ngModel)]="user.email" name="email" type="email" required>
        </mat-form-field>
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit">Save</button>
          <button mat-button type="button">Cancel</button>
        </div>
      </form>
    </mat-tab>


  </mat-tab-group>
</div>